body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.white-logo {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-item:hover,
.nav-item :focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address > ul > li > a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address > ul > li > a:hover,
.address > ul > li > a:focus {
  color: #404bbf;
}
